---
Checks: >
  *,
  -abseil*,
  -google*,
  -fuchsia*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
CheckOptions:
  - key:    misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:  '1'
HeaderFilterRegex: '.*(?!/vendor/).*'
...
