---
Checks: >
  *,
  -abseil*,
  -google*,
  -fuchsia*,
  -llvmlibc*,
  -*-qualified-auto,
  -clang-diagnostic-c++17-extensions,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
CheckOptions:
  - key:    misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:  '1'
ExtraArgs:
  - -std=c++17
HeaderFilterRegex: '.*(?!/vendor/).*'
...
